---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}


<p>[1] <a href="{% link _publications/paper1.md %}">Contact Estimation for Humanoid Robots via Diffusion Policy</a></p>

<p>[2] <a href="{% link _publications/paper2.md %}">Event Imagination Model for Policy Learning</a></p>

<p>[3] <a href="{% link _publications/paper3.md %}">Secure State Estimation of Cyber-Physical Systems via Gaussian Bernoulli Mixture Model</a></p>

<p>[4] <a href="{% link _publications/paper4.md %}">Compensation Estimation Algorithm for Multi-Sensor Attack Detection in Autonomous Driving</a></p>

<p>[5] <a href="{% link _publications/paper5.md %}">Online Stealthy Attack for Cyber-Physical Systems</a></p>